# Assignment 4B

Version 1.01

**Prerequisite:** You need to have gone through Assignment 4A to work through the numbers below.

To make sure that you've done the work, perform checks by running the next few cells below:

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

print(myclient.list_database_names())

['admin', 'config', 'hr', 'local', 'order_management', 'products']

You should see the following databases:
* order_management
* products
* hr

Let's create handlers for each below:

In [3]:
products_db = myclient["products"]
order_management_db = myclient["order_management"]
hr_db = myclient["hr"]

Let's revisit the employees collection.

In [4]:
employees_col = hr_db["employees"]

[e for e in employees_col.find()]

[{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0},
 {'_id': 2,
  'first_name': 'Chums',
  'last_name': 'Uy',
  'base_pay': 1650.0000000000002},
 {'_id': 3,
  'first_name': 'Joaqs',
  'last_name': 'Gonzales',
  'base_pay': 1100.0},
 {'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0},
 {'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0},
 {'_id': 6,
  'first_name': 'Stephen',
  'last_name': 'Chan',
  'base_pay': 1650.0000000000002}]

Let's assign an employee id to make it easier to reference. The convention we will use is just to prefix a year, followed by `_id` with padded zeros.

In [5]:
# we will have to update one document at a time, unfortunately

for e in employees_col.find({}):    
    # print("{}".format(str(e["_id"]).zfill(3)))
    employee_id = "19{}".format(str(e["_id"]).zfill(4))
    print(employee_id)
    employees_col.update_one({"_id":e["_id"]},{"$set":{"employee_id":employee_id}})

190001
190002
190003
190004
190005
190006

In [6]:
# check if new column employee_id was created
for x in employees_col.find():
    print(x)

{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0, 'employee_id': '190001'}
{'_id': 2, 'first_name': 'Chums', 'last_name': 'Uy', 'base_pay': 1650.0000000000002, 'employee_id': '190002'}
{'_id': 3, 'first_name': 'Joaqs', 'last_name': 'Gonzales', 'base_pay': 1100.0, 'employee_id': '190003'}
{'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0, 'employee_id': '190004'}
{'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0, 'employee_id': '190005'}
{'_id': 6, 'first_name': 'Stephen', 'last_name': 'Chan', 'base_pay': 1650.0000000000002, 'employee_id': '190006'}

### 1) Logging Sales Orders

Let's create a function `create_sales_order(collection, shopping_cart)` that takes on a MongoDB collection and a shopping cart directory as parameters and inserts the data directly as a document in the passed collection parameter.

But first, we need to create the collection **sales_orders** in **order_management**:

In [7]:
sales_orders_col = order_management_db["sales_orders"]

#### 1a) Insert existing shopping carts to the new collection

Existing shopping cart documents have already been defined below. Insert into the new collection. Let MongoDB handle creating the new `_id`s so no need to define these.

(10 points)

In [8]:
from datetime import datetime

shopping_cart_list = [
    {"transaction_date":datetime.strptime('Jul 1 2019  1:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":1,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  1:35PM', '%b %d %Y %I:%M%p'),
     "customer_id":2,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190003",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":4,
     "clerk_id":"190004",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  4:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":5,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  5:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":6,
     "clerk_id":"190006",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  6:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":7,
     "clerk_id":"190005",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
]

In [9]:
shopping_cart_list

[{'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}]

In [10]:
## write code to insert to new collection below
## ---------------------------------------------

x = sales_orders_col.insert_many(shopping_cart_list)

print(x.inserted_ids)



## if you want to repeat the process due to a mistake, run the following line:
# sales_orders_col.delete_many({})

[ObjectId('5d3561709372b61d5c42a98c'), ObjectId('5d3561709372b61d5c42a98d'), ObjectId('5d3561709372b61d5c42a98e'), ObjectId('5d3561709372b61d5c42a98f'), ObjectId('5d3561709372b61d5c42a990'), ObjectId('5d3561709372b61d5c42a991'), ObjectId('5d3561709372b61d5c42a992')]

#### 1b) Define the function  `create_sales_order(collection, shopping_cart)` and test with a new shopping cart dictionary

(10 points)

In [11]:
new_shopping_cart = {
    "transaction_date":datetime.strptime('Jul 2 2019  8:30AM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":2,
             "subtotal":400
         }
     ]
    }

In [17]:
# define function here

def create_sales_order(collection, shopping_cart):
    # write code here
    x = collection.insert_one(shopping_cart)

In [18]:
# test your new function here:

create_sales_order(sales_orders_col, new_shopping_cart)

# inspect whole sales_order collection
[s for s in sales_orders_col.find({})]

[{'_id': ObjectId('5d3561709372b61d5c42a98c'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d3561709372b61d5c42a98d'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d3561709372b61d5c42a98e'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d3561709372b61d5c42a98f'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d3561709372b61d5c42a990'),
  'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d3561709372b61d5c42a991'),
  'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d3561709372b61d5c42a992'),
  'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d3567ef9372b61d5c42a993'),
  'transaction_date': datetime.datetime(2019, 7, 2, 8, 30),
  'customer_id': 3,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 2, 'subtotal': 400}]}]

### 2) Determine commissions of clerks from sales orders

Assuming each salesperson/clerk gets 1% of gross sales, list potentential commissions earned per sales order.

In [19]:
# do a quick dump of sales orders showing just the clerk id and total amount per sales order
[o for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'clerk_id': '190002', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190003', 'total': 400},
 {'clerk_id': '190004', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190006', 'total': 400},
 {'clerk_id': '190005', 'total': 400},
 {'clerk_id': '190002', 'total': 400}]

If you wish to display the name of the clerk, let's apply a lookup function

In [22]:
def employee_lookup(x):
    employee = employees_col.find_one({"employee_id":x})
    return "{}, {}".format(employee["last_name"], employee["first_name"])

commission_rate = 0.01

[{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'Uy, Chums': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Gonzales, Joaqs': {'total': 400, 'commissions': 4.0}},
 {'Ilagan, Joben': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Chan, Stephen': {'total': 400, 'commissions': 4.0}},
 {'Uy, Sean': {'total': 400, 'commissions': 4.0}},
 {'Uy, Chums': {'total': 400, 'commissions': 4.0}}]

#### 2a) Generate a csv file containing total commissions earned per employee

Go wild, be creative. Whether you generate the aggregate totals through accumulation (via regular iterators), Pandas dataframes, or through MongoDB aggregations, it's up to you.

The file must be saved as **commissions.csv"

In [23]:
import pandas as pd

In [24]:
commissions = [{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]
commissions

[{'Uy, Chums': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Gonzales, Joaqs': {'total': 400, 'commissions': 4.0}},
 {'Ilagan, Joben': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Chan, Stephen': {'total': 400, 'commissions': 4.0}},
 {'Uy, Sean': {'total': 400, 'commissions': 4.0}},
 {'Uy, Chums': {'total': 400, 'commissions': 4.0}}]

In [ ]:
commissions1 = pd.DataFrame(commissions)
commissions1 = commissions1.fillna(0)

In [ ]:
commissions1.loc[:,"Chan, Stephen":"Uy,Sean"] = commissions1.loc[:,"Chan, Stephen":"Uy,Sean"].astype(str).replace(r',.+','',regex=True).copy()
commissions1.loc[:,"Chan, Stephen":"Uy,Sean"] = commissions1.loc[:,"Chan, Stephen":"Uy,Sean"].astype(str).replace(r'{.+:','',regex=True).copy()

In [ ]:
commissions1.loc[:,"Chan, Stephen":"Uy,Sean"]=commissions1.loc[:,"Chan, Stephen":"Uy,Sean"].apply(pd.to_numeric)
commissions1

The csv must have the following format:
```
last_name,first_name,total_sales,total_commissions
```

(20 points)

In [ ]:
column_names = []

for col in commissions1.columns: 
    column_names.append(col)
    
column_names

In [ ]:
import re


last_names = []

for i in column_names:
    last_names.append(re.search(".+,",i).group())
    
last_names2 = []
for i in last_names:
    last_names2.append(i[:-1])

last_names2

In [ ]:
first_names = []

for i in column_names:
    first_names.append(re.search("\s.+.",i).group())
    
first_names2 = []
for i in first_names:
    first_names2.append(i[1:])

first_names2

In [ ]:
sales = []

for i in column_names:
    sales.append(commissions1[i].sum())
    
sales

In [ ]:
commissions = []

for i in sales:
    commissions.append(int(i*.01))
    
commissions

In [ ]:
import pandas

finalDF = pandas.DataFrame(data={"last_name": last_names2, "first_name": first_names2, "total_sales": sales,
                                "commissions":commissions})
finalDF.to_csv("commissions.csv", sep=',',index=False)

#### 2b) Generate a payslip per clerk

Each clerk must receive a payslip (as represented by separate files with the format <employee id>-commissions.html) containing the following:
    
```
<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}</div>
   <div><br/>
</html>
```

(20 points)