In [1]:
import pandas as pd
df = pd.read_csv("sample.csv")

In [2]:
day1 = [i for i in df.loc[:,"DAY 1"]]

In [3]:
product_tally = {}

product_set = set(day1)

for product in product_set:
    product_tally[product]=0
    
for product in day1:
    product_tally[product] += 1
    
product_tally

{'BBB': 7, 'AAA': 8, 'CCC': 6}

In [4]:
df2 = pd.DataFrame({"product":[],
                  "quantity":[]})

for i in product_tally:
    df2 = df2.append({"product":i,"quantity":product_tally[i]},ignore_index=True)
    
df2

  product  quantity
0     BBB       7.0
1     AAA       8.0
2     CCC       6.0

In [5]:
beginning = []

for i in df2.loc[:,"product"]:
    j = input("Beginning Inventory of "+i+": ")
    beginning.append(j)

Beginning Inventory of BBB: 15
Beginning Inventory of AAA: 20
Beginning Inventory of CCC: 50

In [6]:
additional = []

for i in df2.loc[:,"product"]:
    j = input("Additional Inventory of "+i+", if any: ")
    additional.append(j)

Additional Inventory of BBB, if any: 0
Additional Inventory of AAA, if any: 13
Additional Inventory of CCC, if any: 0

In [7]:
import datetime

date = datetime.datetime.now()

df3 = pd.DataFrame({"date":[],"product":[],"quantity":[]})

for i in product_tally:
    df3 = df3.append({"date":date,"product":i,"quantity":product_tally[i]},ignore_index=True)

df3["beginning"]=beginning  
df3["additional"]=additional
    
df3

                        date product  quantity beginning additional
0 2019-07-19 13:16:41.731534     BBB       7.0        15          0
1 2019-07-19 13:16:41.731534     AAA       8.0        20         13
2 2019-07-19 13:16:41.731534     CCC       6.0        50          0

In [8]:
df3 = df3.loc[:,["date","product","beginning","additional","quantity"]]
df3

                        date product beginning additional  quantity
0 2019-07-19 13:16:41.731534     BBB        15          0       7.0
1 2019-07-19 13:16:41.731534     AAA        20         13       8.0
2 2019-07-19 13:16:41.731534     CCC        50          0       6.0

In [9]:
df3.loc[:,"beginning"]=df3.loc[:,"beginning"].apply(pd.to_numeric)
df3.loc[:,"additional"]=df3.loc[:,"additional"].apply(pd.to_numeric)
df3

                        date product  beginning  additional  quantity
0 2019-07-19 13:16:41.731534     BBB         15           0       7.0
1 2019-07-19 13:16:41.731534     AAA         20          13       8.0
2 2019-07-19 13:16:41.731534     CCC         50           0       6.0

In [10]:
df3["final inventory"]=df3.loc[:,"beginning"]-df3.loc[:,"quantity"]+df3.loc[:,"additional"]
df3

,date,product,beginning,additional,quantity,final inventory
0,2019-07-19 13:16:41.731534,BBB,15,0,7.0,8.0
1,2019-07-19 13:16:41.731534,AAA,20,13,8.0,25.0
2,2019-07-19 13:16:41.731534,CCC,50,0,6.0,44.0

In [11]:
# CONCERNS:
    # how to consider final inventory of a certain day as the beginning inventory of the next one (is it
    # possible to append to a new line?)